ol, ul, li{
    list-style: none;
}

a{
    text-decoration: none;
}
h2{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #464646;
    flex: none;
    order: 0;
    flex-grow: 0;
}

:root{
    --cor-de-link: #2A7AE4;;
}

body{
    box-sizing: border-box;
    font-family: 'Raleway';
}

.cabecalho_princ{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    
    width: auto;
    height: 467px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

button, a {
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    gap: 20px;
    max-width: 1136px;
    width: 86%;
    height: 115px;
    background: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.cabecalho_princ_itens{
    padding: 0;
}
.pesquisa_div fieldset{
    
    border-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    justify-content: space-between;
    width: auto;
    height: 40px;
    background: #F5F5F5;
    border-radius: 20px;
    flex: none;
    order: 0;
    flex-grow: 0
}

.pesquisa_div{
    width: auto;
    display: flex;
    flex: 1 1 auto;
    position: relative;
    background-color: transparent;
    align-items: center;
}

.pesquisa_campo{
   
    box-shadow: none;
    background-color: transparent;
    border-style: none;
    font: inherit;
    outline-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;

    width: 393px;
    height: 40px;
}
.lupa_append_icon{
   
    
    left: 12.5%;
    right: 16.47%;
    top: 12.5%;
    bottom: 16.43%;
    height: auto;
    width: auto;
}
.lupa_append_icon_icon{
    border-style: none;
    width: auto;
    height: auto;
    background: #F5F5F5;
}
.img_lupa_mobile{
    display: none;
}

.login_buton{
    box-sizing: border-box;
    border: 1px solid var(--cor-de-link);
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    
    width: 182px;
    height: 51px;
    flex: none;
    order: 1;
    flex-grow: 0;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--cor-de-link);
}
.login_buton:hover{
    background: #D4E4FA;
}
.banner_div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
    gap: 16px;
    
    width: auto;
    height: 352px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.banner_img{
    width: 100%;
    height: 100%;
}
.text_banner{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    
    top: 18rem;
    
    width: 86%;
    height: 170px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.text_banner_tit{
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 3.3rem;
    line-height: 61px;
    
    color: #FFFFFF;
    flex-grow: 0;
}
.text_banner_subTit{
    font-style: normal;
    font-weight: 700;
    font-size: 1.48rem;
    line-height: 26px;
    
    color: #FFFFFF;
    flex-grow: 0;
}
.button_btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    border-style: none;
    width: 130px;
    height: 51px;
    background: var(--cor-de-link);
    order: 2;
    flex-grow: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.button_btn:hover{
    background: #5595E9;
}
section.all_sections{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 16px;
    
    width: auto;
    height: auto;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 20px;
    max-width: 1136px;
    width: 86%;
    height: 38px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.link, .products_item_link{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: var(--cor-de-link);
}
.products{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    max-width: 1136%;
    width: 86%;
    height: auto;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.products_list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    
    width: auto;
    height: auto;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.products_item_img{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    
    width: 150%;
    height: auto;
    /* background: #FFFFFF; */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.products_item_img img{
    width: 65%;
}
li h4{
    margin: 0;
    font-weight: normal;
    font-size: 0.7rem;
}
li p{
    margin: 0;
    font-weight: bold;
    
}
section.consoles, section.diversos{
    padding-top: 46px;
}

@media(max-width: 768px){
    .products_box:nth-child(6){
        display: none;
    }
    .products_box:nth-child(5){
        display: none;
    }
    .container{
        height: auto;
    }
    
    
    .cabecalho_princ_itens li{
        width: auto;
        height: auto;
    }
    .cabecalho_princ_itens_link img{
        width: 100%;
    }
    .pesquisa_campo{
        width: auto;
    }
    .banner_div{
        height: 65%;
    }
    .text_banner{
        top: 24%;
    }
}

@media(max-width: 360px){
    .cabecalho_princ{
        height: 15rem;
    }
    .container{
        height: auto;
    }
    .pesquisa_div{
        order: 2;
    }
    .pesquisa_div fieldset{
        display: none;
    }
    .img_lupa_mobile{
        display: inline;
    }
    .cabecalho_princ_itens li{
        width: auto;
        height: auto;
    }
    .cabecalho_princ_itens_link img{
        width: 100%;
    }
    .lupa_append_icon_icon {
        background-color: transparent;
    }
    .login_buton{
        width: 9rem;
        height: 2.3rem;
    }
    .text_banner{
        top: 2.2rem;
    }
    .text_banner_tit{
        font-size: 128%;
        line-height: 1;
    }
    .text_banner_subTit{
        font-weight: 200;
        font-size: 81%;
        line-height: 0;
    }
    .button_btn{
        padding: 8px;
        width: auto;
        height: auto;
        font-size: 82%;
    }
    section.all_sections{
        padding-top: 0;
    }
    h2{
        font-size: 1.5rem;
    }
    .products{
        flex-wrap: wrap;
    }
    .products_box{
        width: calc(47%);
    }
}
